.home-logo {
  width: 90px;

  &:hover {
    cursor: pointer;
    opacity: 0.8;
  }
}

.page-links {
  float: right;
  margin: 30px 20px 0 20px;

  a {
    margin-left: 20px;
    text-decoration: none;
    font-size: 1.2em;

    &:hover {
      color: #000;
      font-weight: bold;
    }
  }
}