body {
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.error-msg {
  background: yellow;
  padding: 6px;
  color: red;
  font-weight: bold;
}

.success-msg {
  background: rgb(6, 171, 6);
  padding: 6px;
  color: white;
  font-weight: bold;
}